@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@media screen and (max-width: 480px) {
  body {
    font-size: 2em;
  }
}
#top {
  background-color: rgb(251,247,223);
  left: 0;
  right: 0;
  top: 0;
  border-bottom: solid 1px #BFBFBF;
  z-index: 1;
}
#trainvision {
  background-color: #202020;
  text-align: center;
  color: #fff;
  border: solid 2px #202020;
  position: relative;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  z-index: 1;
}
canvas {
  position: relative;
  z-index: 1;
}
body {
  margin: 0;
}
h3 {
  margin: 0;
  background-color: rgb(239,239,239);
  border-top: solid 1px #BFBFBF;
  border-bottom: solid 1px #BFBFBF;
}
.border-line {
  border-bottom: solid 1px #BFBFBF;
}
.menu {
  z-index: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgb(251,251,251);
}
#footer {
  background-color: rgb(247,247,247);
  left: 0;
  right: 0;
  bottom: 0;
  border-top: solid 1px #BFBFBF;
  padding: 4px;
  font-size: 0.8em;
  z-index: 1;
}